{{extend 'layout.html'}}
<script>
    $( document ).ready(function() {
        // disable to from textfield at startup
        document.getElementById('no_table_to_date').disabled = true;
        document.getElementById('no_table_from_date').disabled = true;
        var intRange = getParameterByName('range');
        if (intRange == 1){
            document.getElementById('SelectCurrent Shift').checked = true;
        } else if (intRange == 2){
            document.getElementById('SelectLast 24 hours').checked = true;
        } else if (intRange == 3){
            document.getElementById('SelectCustom').checked = true;
            document.getElementById('no_table_to_date').disabled=false;
            document.getElementById('no_table_from_date').disabled=false;
        }
    });


    // get mouse move timeout and store in time var
    var time = new Date().getTime();
        $(document.body).bind("mousemove keypress", function(e) {
            time = new Date().getTime();
    });

    // refresh
    function refresh() {
        if(new Date().getTime() - time >= 20000)
            window.location.reload(true);
        else
            setTimeout(refresh, 2000);
    }

    //get URL arguments bij vars
    function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    //get refresh argument and when checked and when inactive refresh
    //var intRefresh = getParameterByName('autorefresh');
    //if (intRefresh == 1) {
    setTimeout(refresh, 2000);
    //}

    function goBack() {
        window.history.back();
    }

    function rangeselection(intRange) {
        if (intRange == 1) {
            location.href = 'machdetails?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range=1&graph={{=intGraph}}';
        } else if (intRange == 2){
            location.href = 'machdetails?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range=2&graph={{=intGraph}}';
        } else if (intRange == 3){
            location.href = 'machdetails?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range=3&graph={{=intGraph}}&fromdate={{=int(intFromSeconds)}}&todate={{=int(intToSeconds)}}';
        }
    }

    //onclick event for auto refresh redirect
    function autorefresh() {
        if (document.getElementById('refreshrefreshId').checked) {
            // alert('You are clicking on me');
            location.href='machdetails?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&autorefresh=1';
        }else{
            location.href='machdetails?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}';
        }
    }
</script>
<style type="text/css">
    .footer{
        background-color: #E7F3FF;
        color: #7D7D7D;
    }
    body{
        background-image: url("{{=URL('static','images/background.png')}}");
        background-size: cover;
        color: #7D7D7D;
        }
    #machineinfo{
        background-color: {{=strMachineStatusColor}};
        }
    #idBack{
        cursor: pointer;
    }
    #idOptions{

    }
</style>
{{include 'oeemenubar.html'}}
<table id="machineinfo" width=100%>
    <tr>
        <td VALIGN="top">
            <table>
                <tr>
                    <td width="30">

                    </td>
                    <td VALIGN="top" width="250" style="text-align:left;height:28px">
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td width="30">

                    </td>
                    <td VALIGN="top" width="130" style="text-align:top|left;height:80px">
                        <p>
                            <b>Shift</b>
                        </p>
                        <p>
                            <b>Team</b>
                        </p>
                        <p>
                            <b>Time</b>
                        </p>
                        <h4>Activitygroup</h4>
                    </td>
                    <td VALIGN="top" width="200" style="text-align:top;height:80px">
                        <p>
                            <b>{{=strShiftTime}}</b>
                        </p>
                        <p>
                            <b>{{=strTeam}}</b>
                        </p>
                        <p>
                            <b>{{=datTime}}</b>
                        </p>
                        <h4><b>{{=strActivityGroup}}</b></h4>
                    </td>
                    <td VALIGN="top" width="130" style="text-align:top;height:80px">
                        <p>
                            <b>Line Speed</b>
                        </p>
                        <p>
                            <b>Norm Speed</b>
                        </p>
                        <p>
                            <b>Counter</b>
                        </p>
                        <h4>Activity</h4>
                    </td>
                    <td VALIGN="top" width="850" style="text-align:top|left;height:80px">
                        <p>
                            <b>{{=intSpeed}}</b>
                        </p>
                        <p>
                            <b>{{=intNormspeed}}</b>
                        </p>
                        <p>
                            <b>{{=intCounter}} {{=strCounterUnit}}</b >
                        </p>
                        <h4><b>{{=strActivity}}</b></h4>
                    </td>
                </tr>
            </table>
        </td>
        <td style="background-color:white;">
            <object data="oeegraph.svg?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range={{=intRange}}&fromdate={{=int(intFromSeconds)}}&todate={{=int(intToSeconds)}}" type="image/svg+xml" width="190px" height="160px">
                <img src="yourfallback.jpg" />
            </object>
        </td>
    </tr>
</table>
<table width=100% heigth=100%>
    <tr>
        <td style="background-color:GhostWhite;">
            <br>
        </td>
        <td style="background-color:GhostWhite;">
        </td>
        <td style="background-color:GhostWhite;">
        </td>
    </tr>
    <tr>
        <td id="idOptions" width="15" style="background-color:GhostWhite;">

        </td>
        <td VALIGN="top" width="180" heigth=100% style="text-align:top;background-color:GhostWhite;">
            <table>
                <tr>
                    <td>
                        {{=form}}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <img id="idBack" onclick="goBack();" width="100px", height="100px" src={{=URL('static/images','back.png')}} />
                    </td>
                </tr>
            </table>
        </td>
        <td width="15" style="background-color:GhostWhite;">

        </td>
        <td width="1110" style="text-align:left;height:100%;">
            {{if intGraph == 2:}}
                <object data="oeeprogress.svg?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range={{=intRange}}&fromdate={{=int(intFromSeconds)}}&todate={{=int(intToSeconds)}}" type="image/svg+xml" width=100% height="750px">
                    <img src="yourfallback.jpg" />
                </object>
            {{else:}}
                <object data="activitygraph.svg?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range={{=intRange}}&fromdate={{=int(intFromSeconds)}}&todate={{=int(intToSeconds)}}" type="image/svg+xml" width=100% height="750px">
                    <img src="yourfallback.jpg" />
                </object>
                {{pass}}
            <!--
                -->
        </td>
    </tr>
</table>
<script>
    document.getElementById("idToggle").onclick = function () { myFunction() };
    //get URL arguments bij vars
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function myFunction() {
        var intGraph = getParameterByName('graph');
        if (intGraph == 0) {
            intGraph = 2
        } else {
            intGraph = 0
        }
        var intRange = getParameterByName('range');
        if (intRange == 3) {
            location.href = 'machdetails?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range=3&fromdate={{=int(intFromSeconds)}}&todate={{=int(intToSeconds)}}&graph=' + intGraph;
        } else {
            location.href = 'machdetails?countrynr={{=gintCountryNr}}&plantnr={{=gintPlantNr}}&subplantnr={{=gintSubPlantNr}}&departmentnr={{=gintDepartmentNr}}&machineid={{=gintMachineID}}&range={{=intRange}}&graph=' + intGraph;
        }

    }
</script>

